<html>
<head>
    <title>Regression Algorithnm</title>
</head>
<body>
    <div align='center' class="main">
        <h1>Welcome to the House rent prediction page</h1>
    </div>
    <div align='center' class="main">
        <p>Please enter the following information</p>
        <form action="results">
            <table>
                <tr>
                    <td align="right">Area: </td>
                    <td align="left"><input type="text" name="area"></td>
                    <tr>
                        <td align="right">Deposit: </td>
                        <td align="left"><input type="text" name="deposit"></td>
                    </tr>
                    <tr>
                        <td align="right">MaintenanceCharge: </td>
                        <td align="left"><input type="text" name="MaintenanceCharge"></td>
                    </tr>
                    <tr>
                        <td align="right">Furnished: </td>
                        <td align="left"><input type="text" name="Furnished"></td>
                    </tr>
                    <tr>
                        <td align="right">ApartmentType: </td>
                        <td align="left"><input type="text" name="ApartmentType"></td>
                    </tr>
                    <tr>
                        <td align="right">TenantType: </td>
                        <td align="left"><input type="text" name="TenantType"></td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td align="left"><button style="background-color: blue; border-color: aliceblue;">Submit</button></td>
                    </tr>
                </tr>
            </table>
        </form>
        Result: {{Result}}
    </div>
</body>
</html>